<app-navbar/>

<section class="error-wrap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="text-center">
                    <img [src]="'assets/img/404.png'" class="img-fluid" alt="">
                    <p class="mt-4 mb-3">Il semblerait que la page que vous recherchez n'existe pas.</p>
                    <a class="btn btn-primary px-5" [routerLink]="'/'">Retour à l'accueil</a>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer-top [bg]="'theme-bg'"/>

<app-footer/>