<div class="property-listing card  rounded-3" [ngClass]="border ? 'border' : 'border-0'">
    <div class="listing-img-wrapper p-3">
        <div class="list-img-slide position-relative">
            <div class="position-absolute top-0 left-0 ms-3 mt-3 z-1">
                <div *ngFor="let tag of item.tag" class="label bg-success text-light d-inline-flex align-items-center justify-content-center me-1" [ngClass]="{'bg-success':tag === 'Verified', 'bg-purple':tag === 'SuperAgent', 'bg-danger':tag === 'New'}">
                    <img *ngIf="tag === 'Verified'" [src]="'/assets/img/svg/verified.svg'" alt="" class='me-1' />
                    <img *ngIf="tag === 'SuperAgent'" [src]="'assets/img/svg/user-1.svg'" alt="" class='me-1'/>
                    <img *ngIf="tag === 'New'" [src]="'assets/img/svg/moon.svg'" alt="" class='me-1'/>
                    {{tag}}
                </div>
            </div>
            <div class="click rounded-3 overflow-hidden mb-0 slick-slider">
                <div *ngFor="let img of item.image"><a [routerLink]="['/single-property-1',item.id]"><img [src]="img" class="" alt="" [height]="col4 ? '194' : '255'"/></a></div>
            </div>
        </div>
    </div>
    <div class="listing-caption-wrapper px-3">
        <div class="listing-detail-wrapper">
            <div class="listing-short-detail-wrap">
                <div class="listing-short-detail">
                    <div class="d-flex align-items-center">
                        <span *ngIf="item.tag2 === 'For Rent'" class="label bg-light-success text-success prt-type me-2">For Rent</span>
                        <span *ngIf="item.tag2 === 'For Sell'" class="label bg-light-danger text-danger prt-type me-2">For Sell</span>
                        <span class="label bg-light-purple text-purple property-cats">{{item.type}}</span>
                    </div>
                    <h4 class="listing-name fw-semibold fs-5 mb-2 mt-3"><a [routerLink]="['/single-property-1',item.id]">{{item.name}}</a></h4>
                    <div class="prt-location text-muted-2 d-flex">
                       <img [src]="'/assets/img/svg/map-1.svg'" alt="">
                        {{item.loction}}
                    </div>
                </div>
            </div>
        </div>
        <div class="price-features-wrapper">
            <div class="list-fx-features d-flex align-items-center justify-content-between">
                <div class="listing-card d-flex align-items-center">
                    <div class="square--25 text-muted-2 fs-sm circle gray-simple me-1"><i class="fa-solid fa-building-shield fs-xs"></i></div><span class="text-muted-2 fs-sm">{{item.size}}</span>
                </div>
                <div class="listing-card d-flex align-items-center">
                    <div class="square--25 text-muted-2 fs-sm circle gray-simple me-1"><i class="fa-solid fa-bed fs-xs"></i></div><span class="text-muted-2 fs-sm">{{item.beds}}</span>
                </div>
                <div class="listing-card d-flex align-items-center">
                    <div class="square--25 text-muted-2 fs-sm circle gray-simple me-1"><i class="fa-solid fa-clone fs-xs"></i></div><span class="text-muted-2 fs-sm">{{item.sqft}}</span>
                </div>
            </div>
        </div>
        <div class="listing-detail-footer d-flex align-items-center justify-content-between py-4">
            <div class="listing-short-detail-flex">
                <h6 class="listing-card-info-price m-0">{{item.value}}</h6>
            </div>
            <div class="footer-flex">
                <a [routerLink]="['/single-property-1',item.id]" class="prt-view">
                    <img [src]="'/assets/img/svg/send.svg'" alt="" />
                </a>
            </div>
        </div>
    </div>
</div>
